/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYM 1
#define NUM 2

#define MORPH(NAME, MOD, BINDING1, BINDING2) \
      NAME: NAME { \
            compatible = "zmk,behavior-mod-morph"; \
            #binding-cells = <0>; \
            bindings = <BINDING1>, <BINDING2>; \
            mods = <(MOD)>; \
      };

/ {
      behaviors {
            MORPH(ABSPC, MOD_LCTL, &kp BSPC, &kp LA(BSPC))

            MORPH(HSPACE, MOD_LGUI, &kp H, &kp LG(SPACE))

            MORPH(H_LEFT, MOD_LCTL, &HSPACE, &kp LEFT)
            MORPH(J_DOWN, MOD_LCTL, &kp J, &kp DOWN)
            MORPH(K_UP, MOD_LCTL, &kp K, &kp UP)
            MORPH(L_RIGHT, MOD_LCTL, &kp L, &kp RIGHT)

            MORPH(SYM_NUM, MOD_LCTL, &mo SYM, &mo NUM)
      };

      keymap {
            compatible = "zmk,keymap";

            default_layer {
                  bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         &none
// ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
      &none         &kp A         &kp S         &kp D         &kp F         &kp G             &H_LEFT       &J_DOWN       &K_UP         &L_RIGHT      &ABSPC        &none
// ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
      &none         &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &mt RSHFT RET &none
// ╰─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╯
                                                &mt LCTRL ESC &kp SPACE     &kp LGUI          &mt RSHFT TAB &SYM_NUM      &kp LALT
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                  >;
            };

            symbol_layer {
                  bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &kp EXCL      &kp AT        &kp HASH      &kp AMPS      &kp FSLH          &kp BSLH      &kp LBKT      &kp RBKT      &kp DQT       &kp TILDE     &none
// ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
      &none         &kp PRCNT     &kp PLUS      &kp MINUS     &kp EQUAL     &kp FSLH          &kp COLON     &kp LPAR      &kp RPAR      &kp SQT       &kp PIPE      &none
// ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
      &none         &kp CARET     &kp ASTRK     &kp UNDER     &kp DLLR      &kp BSLH          &kp SEMI      &kp LBRC      &kp RBRC      &kp GRAVE     &kp QMARK     &none
// ╰─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╯
                                                &mo NUM       &trans        &none             &trans        &trans        &trans
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                  >;
            };

            number_layer {
                  bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &trans        &trans        &trans        &trans        &trans            &trans        &kp N7        &kp N8        &kp N9        &trans        &none
// ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
      &none         &trans        &trans        &trans        &trans        &trans            &trans        &kp N4        &kp N5        &kp N6        &kp N0        &none
// ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
      &none         &trans        &trans        &trans        &trans        &trans            &trans        &kp N1        &kp N2        &kp N3        &trans        &none
// ╰─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╯
                                                &trans        &trans        &none             &none         &trans        &trans
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                  >;
            };
      };
};
